body {
  font-size: 16px;
}

@font-face {
  font-family: Roboto;
  src: url(../font/Roboto-Black.ttf);
  font-weight: Black;
}

@font-face {
  font-family: Roboto-Regular;
  src: url(../font/Roboto-Regular.ttf);
  font-weight: Regular;
}

:root {
  /* Colors: */
  --white-color: #FFFFFF;
  --yellow-color: #FFFF20;
  --dark-color: #000A14;

  /* Font/text values */
  --rajk-family-roboto: Roboto;
  --rajk-style-normal: normal;
  --rajk-weight-900: 900;
  --rajk-weight-normal: normal;
  --rajk-size-14: 1.4em;
  --rajk-size-26: 2.6em;
  --rajk-size-64: 4.3vw;
  --rajk-size-80: 8.0em;
  --rajk-size-100: 10em;
  --rajk-character-spacing-0: 0px;
  --rajk-character-spacing-4-2: 4.2px;
  --rajk-character-spacing--2: -2px;
  --rajk-line-spacing-24: 24px;
  --rajk-line-spacing-38: 38px;
  --rajk-line-spacing-42: 42px;
  --rajk-line-spacing-80: 80px;
  --rajk-line-spacing-100: 100px;
  --rajk-text-transform-uppercase: uppercase;
}

body {
  /* border: 3px solid sienna; */
  background: var(--dark-color);
  color: #fff;
}

section:first-of-type {
  min-height: 100vh;
}

section:not(:first-of-type) {
  min-height: 100vh;
  border-top: none;
}

section:nth-of-type(2) {
  background-color: var(--dark-color);
}

section:nth-of-type(3) {
  background: var(--dark-color);
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-image: url(../assets/BG_kontakt.png);
  background-position: center center;
}

section:nth-of-type(4) {
  background-color: var(--yellow-color);
  color: var(--dark-color);
}

section:nth-of-type(5) {}


#intro {
  /* position: fixed; */
  /* right: 0;
  bottom: 0; */
  /* min-width: 100%;
  min-height: 100%; */
  background: transparent url('../img/video.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  /* z-index: 0; */
}

/* #social-icons {
  position: static;
  top: 313px;
} */

#social-icons img {
  width: 35px;
}

video {
    /* position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; */
    margin: auto;
    min-height: 50%;
    min-width: 50%;
}

.fullscreen-bg > video {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
    overflow: hidden;
  text-align: center;
  z-index: -100;
}
@media screen and (max-aspect-ratio: 1920/1080) {
  .fullscreen-bg > video {
    height: 100%;
  }
}
@media screen and (min-aspect-ratio: 1920/1080) {
  .fullscreen-bg > video {
    width: 100%;
  }
}

/* .fullscreen-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
} */

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  text-align: center;
  z-index: -100;
}

/* .fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

.video {
  background-color: #000A14;
  /* z-index: -1; */
  height: 100vh;
  opacity: 0.4;
}

.video-bg {
  /* height: 100%;
  width: 100%; */
  background-color: #000A14;
  opacity: 0;
  z-index: 100;
}

.logo {
  background: transparent;
  z-index: 1000;
  text-align: center;
}

.logo img {
  height: 13vmax;
}

.rajk-yellow, .rajk-yellow a, .rajk-yellow:hover {
  color: #FFFF20;
}

.rajk-black, .rajk-black a, .rajk-yellow:hover {
  font-family: Roboto;
}

.intro {
  position: relative;
  top: 90%;
  font: normal normal 900 10vw/105% Roboto;
  text-transform: uppercase;
}

.intro-more {
  text-align: center;
  font: normal normal 900 2.1vw/100% Roboto;
  letter-spacing: 0.8vw;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
}

.right-link {
  /* position: relative; */
  /* top: 40%; */
  text-align: left;
  opacity: 1;
}

.right-link a {
  letter-spacing: 0.8vw;
  color: #FFFFFF;
  text-transform: uppercase;
  font: normal normal 900 2.1vw/120% Roboto;
  transform: matrix(0, 1, -1, 0, 0, 0);
  text-decoration: none;
}

/* .right-link img {
  position: relative;
  margin-left: 90px;
  transform: matrix(0, -1, 1, 0, 0, 0);
} */

.more-link {
  text-align: center;
  font: normal normal 900 2.1vh/2.1vh Roboto;
  letter-spacing: 3.6px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
}

/* Services */
h2 {
  text-align: left;
  font: normal normal 900 8.1vw/120% Roboto;
  letter-spacing: 0px;
  text-transform: uppercase;
}

#services .left-paragraph {
  text-align: left;
  font: normal normal normal 4.4vw/150% Roboto-Regular;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

h3 {
  text-align: left;
  font: normal normal 900 4.4vw/150% Roboto;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

#services p {
  text-align: left;
  font: normal normal normal 3.8vw/150% Roboto-Regular;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

#services img {
  width: 16vw;
}

/* Contact */

/* #contact p {
  text-align: left;
  font: normal normal normal 14px/22px Roboto;
  letter-spacing: 0px;
  color: #FFFFFF;
} */

#contact p, #impress p {
  text-align: left;
  font: normal normal normal 4.4vw/150% Roboto-Regular;
  letter-spacing: 0px;
  color: #FFFF20
}

/* Impress */
#impress h1, #impress h2, #impress h3 {
  color: #000A14;
}

#impress p {
  text-align: left;
  font: normal normal normal 4.4vw/150% Roboto-Regular;
  letter-spacing: 0px;
  color: #000000;
}


@media (min-width: 576px) {
  body {
    /* border: 4px solid blue; */
  }

  .logo img {
    width: 37%;
  }

  .intro {
    /* font: normal normal 900 4em/100% Roboto; */
  }

  /* Services */
  h2 {
    font: normal normal 900 8.4vw/120% Roboto;
  }

  #services .left-paragraph {
    font: normal normal normal 2.8vw/150% Roboto-Regular;
  }

  h3 {
    font: normal normal 900 2.8vw/150% Roboto;
  }

  #services p {
    font: normal normal normal 2.1vw/150% Roboto-Regular;
  }

  #services img {
    width: 8.9vw;
  }

  /* Contact */
  #contact p, #impress p {
    font: normal normal normal 2.8vw/150% Roboto-Regular;
  }
}

@media (min-width: 768px) {
  body {
    /* border: 4px solid yellow; */
  }

  .logo img {
    width: 28%;
  }

  .intro {
    /* font: normal normal 900 3.5em/100% Roboto; */
  }

  /* video {
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
  } */

  .right-link a {
    letter-spacing: 0.7vw;
    font: normal normal 900 1.82vw/120% Roboto;
  }

  /* Services */
  h2 {
    font: normal normal 900 6.25vw/120% Roboto;
  }

  #services .left-paragraph {
    font: normal normal normal 2.1vw/150% Roboto-Regular;
  }

  h3 {
    font: normal normal 900 2.1vw/150% Roboto;
  }

  #services p {
    font: normal normal normal 1.82vw/150% Roboto-Regular;
  }

  #contact p, #impress p {
    font: normal normal 900 2.1vw/150% Roboto-Regular;
  }
}

/*  */
@media (min-width: 992px) {
  body {
    /* border: 4px solid red; */
  }

  .logo img {
    height: 13vmin;
  }

  .intro {
    top: 35%;
    font: normal normal 900 4.85vw/100% Roboto;
  }

  .intro-left {
    text-align: right;
  }

  .intro-right {
    text-align: left;
  }

  .more-link {
    font: normal normal 900 12px/100% Roboto;
  }

  /* video {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  } */

  .intro-left {
    top: 44.27%;
    text-align: right;
  }

  .intro-right {
    top: 57.42%;
    text-align: left;
  }

  .more-link {
    text-align: left;
  }

  .right-link a {
    letter-spacing: 0.5vw;
    font: normal normal 900 1.2vw/120% Roboto;
  }

  /* Services */
  h2 {
    text-align: right;
    font: normal normal 900 3.65vw/120% Roboto;
  }

  #services .left-paragraph {
    text-align: right;
    font: normal normal normal 1.62vw/150% Roboto-Regular;
  }

  h3 {
    font: normal normal 900 1.62vw/150% Roboto;
  }

  #services p {
    font: normal normal normal 1.2vw/150% Roboto-Regular;
  }

  #services img {
    width: 5.2vw;
  }

  #contact p, #impress p {
    font: normal normal 900 1.62vw/150% Roboto-Regular;
  }
}

@media (min-width: 1200px) {
  body {
    /* border: 4px solid green; */
  }

  .more-link,
  .right-link a {
    font: normal normal 900 1.17vw/150% Roboto;
    letter-spacing: 0.4vw;
  }

  /* video {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  } */

  #social-icons img {
    width: 2.6vw;
  }

  h2 {
    font: normal normal 900 4vw/120% Roboto;
  }

  #services .left-paragraph {
    font: normal normal normal 1.5vw/150% Roboto-Regular;
  }

  h3 {
    font: normal normal 900 1.5vw/150% Roboto;
  }

  #services p {
    font: normal normal normal 1.17vw/150% Roboto-Regular;
  }

  #services img {
    width: 5.6vw;
  }

  #contact p, #impress p {
    font: normal normal normal 1.5vw/150% Roboto-Regular;
  }
}